<div class="row error-cont">
	<div class="span6 offset3">
		<i class="icon-unlink error-icon"></i>
		<h1>Error 404</h1>
		<h3>I can't find what you are looking for.</h3>
		<h4><a href="/portal">Visit portal</a></h4>
	</div>
</div>
