<div id="dash-menu-left">
    
   <a data-toggle="modal" class="btn btn-primary" role="button" href="#modal-title"><i class="icon-file"></i> New Site</a>
    	
   <hr>
   
    <h4>My sites</h4>
    <ul>
        <li>
            <a href="#" class="selected"><i class="icon-globe"></i> Sample site 1</a>
        </li>
        <li>
            <a href="#" class="selected"><i class="icon-globe"></i> Sample site 2</a>
        </li>
        <li>
            <a href="#" class="selected"><i class="icon-globe"></i> Sample site 3</a>
        </li>
      
    </ul>
    <hr>
     <h4>Store</h4>
</div>