{{layout "org.wso2.carbon.uuf.common.foundation.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <h3>{{t "user-portal.user.add"}}</h3>
    <hr />
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="userName" id="userName" class="form-control" placeholder="userName" />
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName" />
        </div>
        <input type="submit" value="Register" />
    </form>
{{/fillZone}}