{{layout "org.wso2.carbon.uuf.is.foundation.main"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <h3>Change Password</h3>
    <hr />
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="text" name="currentPassword" id="currentPassword" class="form-control" placeholder="currentPassword" />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="newPassword" />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="confirmPassword" />
        </div>
        <input type="submit" value="Register" />
    </form>
    {{#if successResult}}
        Your account: {{successResult}}
    {{/if}}
{{/fillZone}}