{{layout "org.wso2.carbon.uuf.is.foundation.main"}}
{{title "Error | " @config.appName}}
{{#fillZone "content"}}
    <div class="message message-danger">
        <h4><i class="icon fw fw-error"></i>An Error Occurred!</h4>

        <div style="padding-left: 25px;">
            <h5><b>HTTP Status : {{@params.status}}</b></h5>

            <p style="white-space: pre-wrap;">{{@params.message}}</p>
        </div>
    </div>
{{/fillZone}}