<ol class="breadcrumb">
    <li>
        <a href="/">
            <i class="icon fw fw-home"></i>
            <span class="hidden-xs">Home</span>
        </a>
    </li>
    <li class="active">Dashboard</li>
</ol>