.error-cont{
    text-align:center;
    margin-top:6%;
}
.error-icon{
    font-size:140px;
    color:#C9D5D8;
    text-shadow: 1px 1px 0 #FFFFFF;
}
h1{
    color:#C9D5D8;
    text-shadow: 1px 1px 0 #FFFFFF;
}
