<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-Scenario-Results">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="is-usr-mgt-scim2" preserve-order="true" parallel="false">
        <classes>
            <!-- Run this test case only when the default value of UsernameJavaRegEx in JDBC user store has been changed
            to block @ sign ex:[a-zA-Z0-9._\-|//]{3,30}$ -->
            <!--class name="org.wso2.identity.scenarios.test.scim2.FilterOutEmailUserProvisioningSCIM2TestCase"/-->
        </classes>
    </test>
</suite>
