.data-container, .error-details-container{
    border-left: 3px solid #E38E4A;
    background-color: white;
    padding: 10px 35px;
}
.redirection-container .data-container{
    padding:17px 25px;
}
.error-details-container{
    background-color: #E2E2E2;
}
.data-container form h3{
    margin-top: 10px;
}
.signup-form-wrapper .data-container form h3, .recover-form-wrapper .data-container form h3{
    font-weight: 400;
}
.data-container a, .login a{
    color: #E38E4A;
    font-weight: 600;
    display: inline-block;
}
.cancel-btn-font a{
    color: #FFFFFF;
}
.data-container .btn-default, .error-details-container  .btn-default{
    font-weight: 300;
}
.data-container .btn-primary, .error-details-container .btn-primary{
    color: #ffffff;
    background-color: #F27B21;
    border: 1px solid #F27B21;
}
.data-container .btn-secondary, .error-details-container .btn-secondary{
    color: #ffffff;
    background-color: #595959;
    border: 1px solid #595959;
}
.data-container .checkbox > input[type=checkbox]:checked + .helper:after{
    background: #FFFFFF;
    color: #000;
}
.dark .data-container .checkbox > input[type=checkbox]:checked + .helper:after{
    background: #242424;
    color: #FFF;
}
.data-container .checkbox > input[type=checkbox]:not(:disabled) + .helper:before{
    border-width: 1px;
}
.spinner-container{
    padding-top: 20px;
}
.brand-container{
    padding-top: 26px;
}

.brand-container h2{
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 28px;
    font-weight: 400;
}
.social-container img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px 0px;
}
.social-container p{
    font-size: 1.3em;
}

.redirection-container h3{
    font-weight: 400;
}
.extended-form{
    display: none;
}

.dark{
    background-color: #231F20;
    color: #B9B9B9;
}
.dark .data-container, .dark .error-details-container{
    background-color: #2E2A2B;
}
.dark .recover-option-container{
    background-color: #332F30;
}
.dark .input-group .form-control{
    background-color: #242424;
    border-color: #605E5F;
    color: #F3F3F3;
}
.form-horizontal{
    max-width: 100% !important;
}
.recover-option-container{
    background-color: #F3F3F3;
    padding: 20px;
    margin-top: 15px;
    display: none;
}


/**** Theme Overrides ****/
.radio > input[type=radio]:not(:disabled) + .helper:before {
    border-color: #F27D1D;
}
.radio > input[type=radio]:checked + .helper:after {
    background-color: #F27D1D;
}

@media (max-width: 767px){
    .data-container h3{
        font-size: 1.2em;
        margin-top: 10px;
    }
    .data-container, .error-details-container {
        padding:20px 20px;
    }
    .social-container p{
        font-size: 1em;
    }
    .spinner-container{
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .redirection-container h3{
        font-weight: 300;
    }
    .http-code {
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 2em;
        font-weight: 400;
        padding: 0px 20px;
    }
    .http-code span{
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 300;
    }
}

@media (max-width: 767px) and (orientation:landscape){
    .brand-container{
        padding: 26px 130px 0px 130px;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .data-container h3{
        font-size: 1.2em;
        margin-top: 10px;
    }
    .spinner-container{
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .social-container p{
        font-size: 1.2em;
    }
    .redirection-container h3{
        font-weight: 300;
    }
    .http-code {
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 2em;
        font-weight: 400;
    }
    .http-code span{
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 300;
    }
}
@media (min-width: 991px){
    .login-form-wrapper, .redirection-container, .error-container, .signup-form-wrapper, .recover-form-wrapper{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .error-details-container h3{
        font-weight: 400;
        text-transform: uppercase;
    }
    .data-container h3{
        font-size: 1.5em;
        margin-top: 10px;
    }
    .social-container{
        text-align: right;
    }
    .social-container img{
        margin: 0px 0px 0px 5px;
    }
    .http-code{
        margin-top: 24px;
        font-size: 4.5em;
        font-weight: 400;
    }
}
@media (max-width: 991px) {
    .data-container, .error-details-container {
        border: 1px solid #E2E2E2;
    }
    .dark .data-container, .dark .error-details-container{
        border:none;
    }
    .login-form-wrapper, .redirection-container, .error-container{
        padding-bottom: 5%;
    }
    .error-details-container h3{
        font-weight: 400;
        text-transform: uppercase;
    }
    .brand-container h2 {
        margin-bottom: 10%;
    }
    .data-container a{
        margin: inherit;
    }
    .data-container .btn-primary {
        color: #ffffff;
        background-color: #231F20;
        border: 1px solid #231F20;
        width: 100%;
    }
    .dark .data-container .btn-primary{
        background-color: #F47B20;
    }
    .social-container {
        background-color: #D9D9D9;
        padding: 20px 35px;
        text-align: left;
    }
    .dark .social-container{
        background-color: #232323;
        border-bottom:1px solid #3F3F3F;
    }
}

.user-name-icon {
    color: #fff;
    width: 100%;
    font-size: 9em;
    text-align: center;
    font-weight: 200;
    text-transform: capitalize;
}
.square-element .sub-icon i {
    font-size: 1.5em;
    padding: 12px 2px;
}
.square-element .sub-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 1;
    display: block;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 999;
}
.square-element .sub-icon:hover {
    opacity: 0.5;
    text-decoration: none;
}
/* Account setting template styling */
.sidebar-nav {
    width:auto;
}
.settings-nav{
    background:#eff1f3;
}
.settings-nav li a, .sidebar-nav li a:focus {
    color: #333;
}
.settings-nav li {
    border-color: #a5a5a5;
}
.settings-nav li.active > a {
    background-color: #fff;
    border-left: 3px solid #f47a1e;
    color:#333;
}

.settings-nav li.active > a:hover, .settings-nav li.active > a:focus {
    background-color: #fff;
    border-left: 3px solid #f47a1e;
    color:#333;
}

.settings-nav li ul.sub-menu li.active a, .sidebar-nav li ul.sub-menu li a:hover, .settings-nav li ul.sub-menu li.active:hover {
    color: #333;
}
.settings-nav li ul.sub-menu li.active a{
    border-left-color:#f47a1e;
}

.settings-nav li ul.sub-menu li a:focus {
    background-color: #fff;
}
.settings-nav{
    width:200px;
}
.acc-settings .tab-content {
    float: right;
    padding-left: 20px;
    width: calc(100% - 200px);
}
.acc-settings .tab-content h3 {
    color: #888;
}
.settings-nav li:first-child{
    border-top:1px solid #a5a5a5;
}
.acc-settings .tab-content {
    border: 1px solid #a5a5a5;
    min-height: 400px;
}
.settings-nav .nav-stacked > li.active, .settings-nav li ul.sub-menu > li.active{
    margin-right: -1px;
}

@media (max-width: 600px) {
    .settings-nav{
        width:100%;
        margin-bottom: 10px;
    }
    .acc-settings .tab-content {
        float: none;
        width: 100%;
    }
    .sidebar-nav {
        position: relative;
    }
    .settings-nav .nav-stacked > li.active, .settings-nav li ul.sub-menu > li.active{
        border-right: 1px solid #a5a5a5;
        margin-right: 0;
    }
}