{{#if petData.img}}
    <img src="{{petData.img}}" title="image of {{../name}}" class="pet-image">
{{else}}
    {{css "css/default.css"}}
    <div style="height: 64px; width: 64px" class="default-pet-image pet-image"></div>
{{/if}}
