/* ---------------- template styles ------------------------- */

table#main-table td#header {
	background-image: url( ../images/is-header-region-bg.gif);
}

table#main-table td#menu-panel {
	border-right: solid 1px #EE8C4E;
}
	

/* ---------------- header styles ------------------ */
div#header-div {
    background-image: url( ../images/is-header-bg.gif);
    background-position: top right;
}

div#header-div div.left-logo {
	background-image: url( ../images/is-header-logo.gif );
}

div#header-div div.right-logo {
	color: #E86C1F;
	display: none;
} 

/* ------------- menu styles ---------------------- */
div#menu {
}

div#menu ul.main {
}

div#menu ul.main li {
}

div#menu ul.main li.normal {
}

div#menu ul.main li a.menu-home {
    color: #E86C1F;
    background-image: url(../images/is-home-bg.gif);

}

div#menu ul.main li a.menu-home:hover {
	color: #f47b20;
	background-image: none;
	background-color: #FBE3D1;
}

div#menu ul.main li.menu-header {
}

div#menu ul.main li a.menu-default {
}

div#menu ul.main li a.menu-default:hover {
	background-color: #FDF3EB;
	border-bottom: solid 1px #F9D3B8;
	border-top: solid 1px #F9D3B8;
	color: #00447C;
}

div#menu ul.sub {
} 

/* -------------- child no-01 styles -------------- */

div#menu ul.sub li.normal {

}

div#menu ul.sub li a.menu-default {
} 

/* ----------- child no-01 (disabled) styles ------------------- */
	
div#menu ul.sub li a.menu-disabled-link {
	}
	
	div#menu ul.sub li a.menu-disabled-link:hover {
	} 

/* -------------- child no-02 styles -------------- */

div#menu ul.sub li.normal ul.sub li a.menu-default {

}

/* -------------- child no-03 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
}

/* ------------- footer styles -------------------- */

div#footer-div div.footer-content div.poweredby {
	background-image: url( ../images/axis2-powered.gif);
}

/* ---- login styles ----- */


/* --------------- table styles -------------------- */

.tableOddRow{background-color: white;}
.tableEvenRow{background-color: #eeeffb;}

.button:hover{
	background-image:url(../images/is-button-bg-hover.gif);
	border:solid 1px #F9D3B8;
}
strong{
font-family: "Verdana","Lucida Grande","Lucida Sans","Microsoft Sans Serif", "Lucida Sans Unicode","Sans-serif","trebuchet ms" !important;
}