<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="IS_functional_TestSuite">
	<parameter name="useDefaultListeners" value="false" />

	<test name="Test - IS" preserve-order="true" parallel="false">
		<packages>
       		<package name="org.wso2.carbon.identity.tests.user.store.config.*" />
			<package name="org.wso2.carbon.identity.tests.user.profile.mgt.*" />  
<!-- 			 <package name="org.wso2.carbon.identity.tests.openid.*" />  -->
		</packages>

		<classes>
			<!-- <class name="org.wso2.carbon.identity.tests.saml.AllClaimURIsTestCase"/> -->
       		<class name="org.wso2.carbon.identity.tests.scim.SCIMServiceProviderUserTestCase" />
			<class name="org.wso2.carbon.identity.tests.scim.SCIMServiceProviderGroupTestCase" />      
			<!-- <class name="org.wso2.carbon.identity.tests.scim.SCIMGlobalProviderTestCase"/> -->
			<!-- <class name="org.wso2.carbon.identity.tests.saml.SSOSessionTimeoutTestCase"/> -->
          	<class name="org.wso2.carbon.identity.tests.user.mgt.ReadWriteLdapBasedUserMgtTestCase" />
			<class name="org.wso2.carbon.identity.tests.user.mgt.JDBCBasedUserMgtTestCase" />      
			<!-- <class name="org.wso2.carbon.identity.tests.user.mgt.ReadOnlyLdapBasedUserMgtTestCase"/> -->
 			 <!--  <class name="org.wso2.carbon.identity.tests.user.mgt.UserMgtTestCase"/>  --> 
       		<class name="org.wso2.carbon.identity.tests.entitlement.EntitlementPolicyAdminServiceTestCase"/>
			<class name="org.wso2.carbon.identity.tests.entitlement.EntitlementAdminServiceTestCase"/>
			<class name="org.wso2.carbon.identity.tests.identity.mgt.UserInformationRecoveryServiceTestCase"/>   
			<class name="org.wso2.carbon.identity.tests.oauth2.OAuth2ServiceAuthCodeGrantTestCase" /> 
			<class name="org.wso2.carbon.identity.tests.openid.OpenIDAuthenticationTestCase" />
			<class name="org.wso2.carbon.identity.tests.openid.OpenIDProviderServerConfigTestCase" />
 			<!-- <class name="org.wso2.carbon.identity.tests.openid.OpenIDUserProfileTestCase" />  -->
		</classes>
	</test>
</suite>
