<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
    <import resource="classpath:META-INF/cxf/user-challenge-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-association-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-approval-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/authorized-apps-user-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/authorized-apps-user-v2-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/session-user-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-fido2-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-totp-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-backupcode-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-mfa-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/permission-management-v1-cxf.xml"/>
    <!--<import resource="classpath:META-INF/cxf/workflow-engine-server-v1-cxf.xml"/>-->
    <import resource="classpath:META-INF/cxf/claim-management-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/challenge-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/email-template-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/applications-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/application-user-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/keystore-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/idp-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/oidc-scope-management-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-recovery-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/script-libraries-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/configs-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/notification-sender-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/authenticators-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/secret-management-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/branding-preference-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/input-validation-server-v1-cxf.xml"/>

    <import resource="classpath:META-INF/cxf/identity-governance-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-store-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/tenant-management-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cors-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-functionality-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/rfc-server-v1-cxf.xml"/>

    <!-- Legacy identity APIs   -->
    <import resource="classpath:META-INF/cxf/config-mgt-server-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-recovery-v0-9-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-governance-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/user-fido2-v2-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/oauth2-dcr-v1-1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/oauth2-scope-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/consent-mgt-v1-cxf.xml"/>
    <import resource="classpath:META-INF/cxf/auth-v1-1-cfx.xml"/>

    <context:property-placeholder/>
    <context:annotation-config/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"/>
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
    <bean id="postprocess" class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="validationProvider" class="org.apache.cxf.validation.BeanValidationProvider"/>
    <bean id="validationInInterceptor"
          class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationInInterceptor">
        <property name="provider" ref="validationProvider"/>
    </bean>
    <jaxrs:server id="server" address="/server/v1">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.rest.api.server.challenge.v1.ChallengesApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.server.claim.management.v1.ClaimManagementApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.server.email.template.v1.EmailApi"/>
            <bean class="org.wso2.carbon.identity.api.server.identity.governance.v1.IdentityGovernanceApi"/>
            <bean class="org.wso2.carbon.identity.api.server.application.management.v1.ApplicationsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.userstore.v1.UserstoresApi"/>
            <bean class="org.wso2.carbon.identity.api.server.permission.management.v1.PermissionManagementApi"/>
            <bean class="org.wso2.carbon.identity.api.server.keystore.management.v1.KeystoresApi"/>
            <bean class="org.wso2.carbon.identity.api.server.idp.v1.IdentityProvidersApi"/>
            <bean class="org.wso2.carbon.identity.api.server.configs.v1.ConfigsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.oidc.scope.management.v1.OidcApi"/>
            <bean class="org.wso2.carbon.identity.api.server.script.library.v1.ScriptLibrariesApi"/>
            <bean class="org.wso2.carbon.identity.api.server.tenant.management.v1.TenantsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.tenant.management.v1.ChannelVerifiedTenantsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.cors.v1.CorsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.fetch.remote.v1.RemoteFetchApi"/>
            <bean class="org.wso2.carbon.identity.api.server.notification.sender.v1.NotificationSendersApi"/>
            <bean class="org.wso2.carbon.identity.api.server.authenticators.v1.AuthenticatorsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.secret.management.v1.SecretsApi"/>
            <bean class="org.wso2.carbon.identity.api.server.secret.management.v1.SecretTypeApi"/>
            <bean class="org.wso2.carbon.identity.api.server.branding.preference.management.v1.BrandingPreferenceApi"/>
            <bean class="org.wso2.carbon.identity.api.server.input.validation.v1.ValidationRulesApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
                <constructor-arg>
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion" value="NON_NULL" />
                    </bean>
                </constructor-arg>
            </bean>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.JsonProcessingExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.APIErrorExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.InputValidationExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.DefaultExceptionMapper"/>
            <bean class="org.apache.cxf.jaxrs.ext.search.SearchContextProvider"/>
        </jaxrs:providers>
        <jaxrs:inInterceptors>
            <ref bean="validationInInterceptor"/>
        </jaxrs:inInterceptors>
    </jaxrs:server>
    <jaxrs:server id="users" address="/users/v1">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.rest.api.user.application.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.approval.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.association.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.association.v1.UserIdApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.authorized.apps.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.authorized.apps.v1.UserIdApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.backupcode.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.challenge.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.challenge.v1.UserIdApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.fido2.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.functionality.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.functionality.v1.UserIdApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.mfa.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.recovery.v1.RecoveryApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.session.v1.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.session.v1.SessionsApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.session.v1.UserIdApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.totp.v1.MeApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
                <constructor-arg>
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion" value="NON_NULL" />
                    </bean>
                </constructor-arg>
            </bean>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.JsonProcessingExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.APIErrorExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.InputValidationExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.DefaultExceptionMapper"/>
        </jaxrs:providers>
        <jaxrs:inInterceptors>
            <ref bean="validationInInterceptor"/>
        </jaxrs:inInterceptors>
    </jaxrs:server>
    <jaxrs:server id="usersV2" address="/users/v2">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.rest.api.user.authorized.apps.v2.MeApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.authorized.apps.v2.UserIdApi"/>
            <bean class="org.wso2.carbon.identity.rest.api.user.authorized.apps.v2.AuthorizedAppsApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
                <constructor-arg>
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion" value="NON_NULL" />
                    </bean>
                </constructor-arg>
            </bean>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.JsonProcessingExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.APIErrorExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.InputValidationExceptionMapper"/>
            <bean class="org.wso2.carbon.identity.api.dispatcher.core.DefaultExceptionMapper"/>
        </jaxrs:providers>
        <jaxrs:inInterceptors>
            <ref bean="validationInInterceptor"/>
        </jaxrs:inInterceptors>
    </jaxrs:server>

    <!-- Legacy identity APIs   -->
    <jaxrs:server id="configMgt" address="/identity/config-mgt/v1.0">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.configuration.mgt.endpoint.ResourceApi"/>
            <bean class="org.wso2.carbon.identity.configuration.mgt.endpoint.ResourceTypeApi"/>
            <bean class="org.wso2.carbon.identity.configuration.mgt.endpoint.SearchApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.apache.cxf.jaxrs.ext.search.SearchContextProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="entitlement" address="/identity/entitlement/decision">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.entitlement.endpoint.resources.DecisionResource"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>
            <bean class="org.wso2.carbon.identity.entitlement.endpoint.filter.EntitlementExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="recovery" address="/identity/recovery/v0.9">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.ClaimsApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.RecoverPasswordApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.RecoverUsernameApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.SecurityQuestionApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.SecurityQuestionsApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.SetPasswordApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.ValidateAnswerApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.ValidateCodeApi"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.CaptchaApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.identity.recovery.endpoint.filter.ResponseValidationFilter" />
            <bean class="org.wso2.carbon.identity.recovery.endpoint.Exceptions.RecoveryEndpointExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="userGovernance" address="/identity/user/v1.0">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.user.endpoint.IntrospectCodeApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.LiteApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.MeApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.PiInfoApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.ResendCodeApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.UpdateUsernameApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.ValidateCodeApi"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.ValidateUsernameApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.identity.user.endpoint.exceptions.UserEndpointExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="fido2v2" address="/users/v2/me/webauthn">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.application.authenticator.fido2.endpoint.DefaultApi"/>
            <bean class="org.wso2.carbon.identity.application.authenticator.fido2.endpoint.FinishRegistrationApi"/>
            <bean class="org.wso2.carbon.identity.application.authenticator.fido2.endpoint.StartRegistrationApi"/>
            <bean class="org.wso2.carbon.identity.application.authenticator.fido2.endpoint.StartUsernamelessRegistrationApi"/>
            <bean class="org.wso2.carbon.identity.application.authenticator.fido2.endpoint.CredentialIdApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="oauthDCR" address="/identity/oauth2/dcr/v1.1">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.oauth2.dcr.endpoint.RegisterApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="com.fasterxml.jackson.jaxrs.base.JsonMappingExceptionMapper"/>
            <bean class="com.fasterxml.jackson.jaxrs.base.JsonParseExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="oauth2Scope" address="/identity/oauth2/v1.0">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.oauth.scope.endpoint.ScopesApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.identity.oauth.scope.endpoint.expmapper.JsonProcessingExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="consentMgt" address="/identity/consent-mgt/v1.0">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.consent.mgt.endpoint.ConsentsApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.consent.mgt.endpoint.expmapper.ConsentEndpointExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="localAuth" address="/identity/auth/v1.1">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.local.auth.api.endpoint.AuthenticateApi"/>
            <bean class="org.wso2.carbon.identity.local.auth.api.endpoint.ContextApi"/>
            <bean class="org.wso2.carbon.identity.local.auth.api.endpoint.DataApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean id="exceptionMapper" class="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper">
                <property name="printStackTrace" value="false" />
            </bean>
        </jaxrs:providers>
    </jaxrs:server>
    <cxf:bus>
        <cxf:properties>
            <entry key="search.query.parameter.name" value="filter"/>
            <entry key="search.parser">
                <bean class="org.apache.cxf.jaxrs.ext.search.odata.ODataParser">
                    <constructor-arg value="#{ T(org.apache.cxf.jaxrs.ext.search.SearchBean) }"/>
                </bean>
            </entry>
        </cxf:properties>
    </cxf:bus>
</beans>
