<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>WSO2 Identity Server REST API</display-name>
    <description>WSO2 Identity Server REST API</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/beans*.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!--  Servlet instance for /identity/user/v1.0 -->
    <servlet>
        <servlet-name>IdentityUserV1ApiServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.identity.user.endpoint.IntrospectCodeApi,
                org.wso2.carbon.identity.user.endpoint.LiteApi,
                org.wso2.carbon.identity.user.endpoint.MeApi,
                org.wso2.carbon.identity.user.endpoint.PiInfoApi,
                org.wso2.carbon.identity.user.endpoint.ResendCodeApi,
                org.wso2.carbon.identity.user.endpoint.UpdateUsernameApi,
                org.wso2.carbon.identity.user.endpoint.ValidateCodeApi,
                org.wso2.carbon.identity.user.endpoint.ValidateUsernameApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.identity.user.endpoint.exceptions.UserEndpointExceptionMapper
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityUserV1ApiServlet</servlet-name>
        <url-pattern>/identity/user/v1.0/*</url-pattern>
    </servlet-mapping>

    <!--  Servlet instance for /identity/recovery/v0.9 -->
    <servlet>
        <servlet-name>IdentityRecoveryV0_9ApiServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.identity.recovery.endpoint.ClaimsApi,
                org.wso2.carbon.identity.recovery.endpoint.RecoverPasswordApi,
                org.wso2.carbon.identity.recovery.endpoint.RecoverUsernameApi,
                org.wso2.carbon.identity.recovery.endpoint.SetPasswordApi,
                org.wso2.carbon.identity.recovery.endpoint.ValidateCodeApi,
                org.wso2.carbon.identity.recovery.endpoint.CaptchaApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.identity.recovery.endpoint.filter.ResponseValidationFilter,
                org.wso2.carbon.identity.recovery.endpoint.Exceptions.RecoveryEndpointExceptionMapper
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityRecoveryV0_9ApiServlet</servlet-name>
        <url-pattern>/identity/recovery/v0.9/*</url-pattern>
    </servlet-mapping>

    <!--  Servlet instance for /identity/consent-mgt/v1.0 -->
    <servlet>
        <servlet-name>IdentityConsentMgtV1ApiServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.consent.mgt.endpoint.ConsentsApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.consent.mgt.endpoint.expmapper.ConsentEndpointExceptionMapper,
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityConsentMgtV1ApiServlet</servlet-name>
        <url-pattern>/identity/consent-mgt/v1.0/*</url-pattern>
    </servlet-mapping>
  
    <!--  Servlet instance for /users/v2/me/webauthn -->
    <servlet>
        <servlet-name>UsersV2MeWebauthnApiServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.identity.application.authenticator.fido2.endpoint.DefaultApi,
                org.wso2.carbon.identity.application.authenticator.fido2.endpoint.FinishRegistrationApi,
                org.wso2.carbon.identity.application.authenticator.fido2.endpoint.StartRegistrationApi,
                org.wso2.carbon.identity.application.authenticator.fido2.endpoint.StartUsernamelessRegistrationApi,
                org.wso2.carbon.identity.application.authenticator.fido2.endpoint.CredentialIdApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersV2MeWebauthnApiServlet</servlet-name>
        <url-pattern>/users/v2/me/webauthn/*</url-pattern>
    </servlet-mapping>

    <!--  Servlet instance for /identity/oauth2/dcr/v1.1 -->
    <servlet-mapping>
        <servlet-name>IdentityOAuth2DcrV1_1ApiServlet</servlet-name>
        <url-pattern>/identity/oauth2/dcr/v1.1/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IdentityOAuth2DcrV1_1ApiServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.identity.oauth2.dcr.endpoint.RegisterApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.identity.oauth2.dcr.endpoint.exmapper.JsonProcessingExceptionMapper,
                com.fasterxml.jackson.jaxrs.base.JsonMappingExceptionMapper,
                com.fasterxml.jackson.jaxrs.base.JsonParseExceptionMapper
            </param-value>
        </init-param>
    </servlet>

    <!--  Servlet instance for /identity/oauth2/v1.0 -->
    <servlet>
        <servlet-name>IdentityOAuth2V1ApiServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.identity.oauth.scope.endpoint.ScopesApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.identity.oauth.scope.endpoint.expmapper.JsonProcessingExceptionMapper
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityOAuth2V1ApiServlet</servlet-name>
        <url-pattern>/identity/oauth2/v1.0/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
