{{layout "org.wso2.carbon.uuf.is.foundation.main"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <h3>Update my default attributes</h3>
    <hr />
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName" />
        </div>
        <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="text" name="telephone" id="telephone" class="form-control" placeholder="telephone" />
        </div>
        <input type="submit" value="Update" />
    </form>
    {{#if successResult}}
        Your default profile is updated: {{successResult}}
    {{/if}}
{{/fillZone}}