<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-Scenario-Results">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="is-usr-mgt-scim1" preserve-order="true" parallel="false">
        <classes>
            <!-- please enable this test once https://github.com/wso2/product-is/issues/4022 is fixed -->
            <!--class name="org.wso2.identity.scenarios.test.scim.UserProvisionWithInsufficientPrivilegesSCIMTestCase"/-->
        </classes>
    </test>
</suite>
