<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{messages.login}}</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <form class="form-horizontal" id="loginForm" method="post" action="controllers/login-logout/login.jag">
            <div class="control-group">
                <label class="control-label" for="inputEmail">{{messages.user_name}}</label>

                <div class="controls">
                    <input type="text" name="userName" id="inputEmail" class="required" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">{{messages.pwd}}</label>

                <div class="controls">
                    <input type="password" name="pwd" id="inputPassword" placeholder="Password" class="required">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{{messages.login}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#loginForm").validate();
});
</script>