{{layout "org.wso2.carbon.uuf.is.foundation.main"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <h3>User Self Sign-up</h3>
    <hr />
<<<<<<< HEAD
<<<<<<< HEAD
    <form method="post" class="form-horizontal">
=======
    <form method="post">
>>>>>>> d143a3c... Added pages, self-signup and default-user-attributes
=======
    <form method="post" class="form-horizontal">
>>>>>>> 1536c2c... Added few user stories
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="userName" id="userName" class="form-control" placeholder="userName" />
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName" />
        </div>
        <div class="form-group">
<<<<<<< HEAD
<<<<<<< HEAD
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName" />
        </div>
        <input type="submit" value="Register" />
    </form>
=======
            <label for="lastName">First Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName" />
        </div>
        <input type="submit" value="Register" />
        </form>
>>>>>>> d143a3c... Added pages, self-signup and default-user-attributes
=======
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName" />
        </div>
        <input type="submit" value="Register" />
    </form>
>>>>>>> 1536c2c... Added few user stories
    {{#if successResult}}
        Your account: {{successResult}}
    {{/if}}
{{/fillZone}}