{{layout "main-usermenu"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <h3>{{t "user-portal.user.password.reset"}}</h3>
    <hr />
    <div class="alert alert-info" role="alert">
        <i class="icon fw fw-warning"></i>
        In order to update your password, you should re-enter your current password.
    </div>
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="text" name="oldPassword" id="oldPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="text" name="newPassword" id="newPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="text" name="confirmPassword" id="confirmPassword" class="form-control" />
        </div>
        <input type="submit" value="Update" />
    </form>
{{/fillZone}}