<div class="row error-cont">
	<div class="span6 offset3">
		<i class="icon-ambulance error-icon"></i>
		<h1>Error 500</h1>
		<h3>Something went wrong and we're trying to fix it.</h3>
		<h4>Please check back later</h4>
	</div>
</div>
