<div class="row row-footer">
	<div class="span12">
		<div class="row">
			<div class="span6">
				<span style="padding-left: 20px;"> &copy; 2013 WSO2 Inc. {{t "All Rights Reserved"}}. </span>
			</div>
			<div class="span6 pull-right txt-right">
				<ul>
					<li>
						<a href="/store"><i class="icon-shopping-cart"></i> Store</a>
					</li>
					<li>
						<a href="http://docs.wso2.org/wiki/display/UES100/WSO2+User+Engagement+Server+1.0.0+Documentation" target="_blank"><i class="icon-book"></i>{{t "Docs"}}</a>
					</li>
					<li>
						<a id="logo-wso2" href="http://www.wso2.com" target="_blank"></a>
					</li>
				</ul>

			</div>
		</div>
	</div>

</div>
