<ul>
    <li>
        <div class="row">
            <div class="span2 assetp-key">
                Key
            </div>
            <div class="span7 assetp-value">
                Value
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="span2 assetp-key">
                Key
            </div>
            <div class="span7 assetp-value">
                Value
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="span2 assetp-key">
                Key
            </div>
            <div class="span7 assetp-value">
                Value
            </div>
        </div>
    </li>

</ul>