#add-question {
    display: none;
}

#edit-question {
    display: none;
}

/* security question listing */
.question {
    padding: 10px 10px;
    background: rgba(0,0,0,.02);
    margin-bottom: 10px;
}
.question a{
    padding: 0px 10px;
    color:#555;
}
.question a:focus, .question a:hover{
    text-decoration: none;
}