#add-question {
    display: none;
}

#edit-question {
    display: none;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0d51879... Security Question section markup improvements
}

/* security question listing */
.question {
    padding: 10px 10px;
    background: rgba(0,0,0,.02);
    margin-bottom: 10px;
}
.question a{
    padding: 0px 10px;
}
.question a:focus, .question a:hover{
    text-decoration: none;
<<<<<<< HEAD
=======
>>>>>>> 966974f... Added the front end functionality for the security questions page.
=======
>>>>>>> 0d51879... Security Question section markup improvements
}